@import url("reset.css");
@import url("common.css");
/*=============================================================================================================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
/*=============================================================================================================*/

[class*="__container"] {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0px 100px;
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: 1440px;
		margin: 0 auto;
		padding: 0px 30px;
	}
}

@media (max-width: 500px) {
	[class*="__container"] {
		max-width: 1440px;
		margin: 0 auto;
		padding: 0px 20px;
	}
}

/*===============================================       Header       =================================================*/

.header {
	padding: 37px 0px;
}

.menu {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	align-items: center;
}

.menu__logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.38;
	/* 25/18 */
	color: #495057;
}

.menu__logo::after {
	content: ".";
	color: #DDBEA9;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
}

.menu__item {
	position: relative;
	display: inline-block;
}

.menu__item::before {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #DDBEA9;
	left: 50%;
	bottom: 0;
	width: 0;
	transition: all 0.3s ease;
}

.menu__item:hover::before {
	width: 100%;
	left: 0;
}

.menu__link:hover {
	color: #495057;
}

.menu__link {
	color: rgba(73, 80, 87, 0.5);
}

.menu__link_active {
	color: #495057;
}

.menu__link_active::before {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #DDBEA9;
	bottom: 0;
	width: 100%;
	transition: all 0.3s ease;
}

.menu__actions {
	display: flex;
	column-gap: 25px;
	align-items: center;
}

.menu__sing-in {
	color: rgba(73, 80, 87, 0.5);
	position: relative;
	flex: 0 0 41px;
}

.menu__sing-in:hover {
	color: #495057;
}

.menu__sing-in::before {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #DDBEA9;
	left: 50%;
	bottom: 0;
	width: 0;
	transition: all 0.3s ease;
}

.menu__sing-in:hover::before {
	width: 100%;
	left: 0;
}

.menu__get-started {
	color: #F8F9FA;
	background: #DDBEA9;
	border-radius: 20px;
	padding: 7px 15px;
	flex: 0 0 100px;
	transition: all 0.3s ease;
}

.menu__get-started:hover {
	background: #212529;
}

.icon-menu {
	display: none;
}

@media (max-width: 850px) {
	.menu__list {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}

	.icon-menu {
		display: block;
		width: 30px;
		height: 20px;
		position: relative;
	}

	.icon-menu span {
		background-color: #212529;
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		top: 50%;
	}

	.icon-menu::before,
	.icon-menu::after {
		content: "";
		position: absolute;
		background-color: #212529;
		height: 2px;
		width: 100%;
		left: 0;
	}

	.icon-menu::before {
		top: 1%;
	}

	.icon-menu::after {
		bottom: 0;
	}
}

@media (max-width: 400px) {
	.menu__sing-in {
		display: none;
	}
}

@media (max-width: 767.98px) {
	.header {
		padding: 20px 0px;
	}
}

/*===============================================       Main-header         =================================================*/
.main-header__content {
	padding-bottom: 50px;
}

.swiper {
	width: 100%;
	height: 500px;
	border-radius: 5px;
	position: relative;
}

.swiper-slide {
	width: 100%;
	height: 100%;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: 5px;
}

.text-block-swiper {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(33, 37, 41, 0.3);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 15px;
}

.text-block-swiper span {
	display: inline-block;
	font-weight: 300;
	line-height: 1.66;
	/* 20/12 */
	color: #E5E5E5;
	text-align: center;
}

.text-block-swiper h2 {
	display: inline-block;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.60;
	/* 40/25 */
	text-align: center;
	color: #F8F9FA;
	max-width: 505px;
}

/*===============================================       Main-topics         =================================================*/

.topics__content {
	padding: 50px 106px 100px;
	display: flex;
	flex-direction: column;
	row-gap: 60px;
}

.main-topics {
	display: flex;
	column-gap: 30px;
	justify-content: space-between;
	max-width: 1028px;
}


.topics-left {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	flex-basis: 0 0 38.229572%;
	/* 393/1028 */
}

.topics-left__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.60;
	/* 40/25 */
	color: #212529;
}

.filter__list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.filter__item {
	position: relative;
}

.filter__link {
	display: inline-block;
	padding-left: 19px;
}

.filter__link::before {
	content: "+";
	position: absolute;
	transition: all 0.5s ease;
	left: 0;
	top: 0;
}

.filter__link:hover::before {
	transform: rotate(180deg);
}

.filter__link:hover {
	color: #DDBEA9;
}

.topics-left__input {
	position: relative;
	padding-left: 15px;
}

.topics-left__input::before {
	content: "";
	position: absolute;
	background: url("../img/topics/search.svg") no-repeat;
	left: 0px;
	top: 6px;
	width: 12px;
	height: 12px;
}

.topics-left__input input {
	outline: none;
	color: rgba(73, 80, 87, 0.5);
	background: #F8F9FA;
}


.topics-right {
	display: flex;
	flex-basis: 1 1 58.85214%;
	/* 605/1028 */
}

.topics-right__items {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.topics-right__item {
	display: flex;
	column-gap: 30px;
	justify-content: space-between;
	border-radius: 3px;
}

.topics-right__image {
	display: flex;
	flex: 0 0 47.438017%;
	/* 287/605 */
	max-height: 200px;
	overflow: hidden;
}

.topics-right__image img {
	max-width: 100%;
	object-fit: cover;
	border-radius: 3px;
	transition: all 0.3s ease;
	margin: 0 auto;
}

.topics-right__image:hover img {
	transform: scale(1.1);
}

.block-text-topics {
	display: flex;
	flex: 0 1 52.561983%;
	flex-direction: column;
	row-gap: 15px;
}

.block-text-topics__header {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.block-text-topics__data a {
	font-weight: 300;
	line-height: 1.66;
	/* 20/12 */
	color: #6C757D;
	transition: all 0.3s ease;
}

.block-text-topics__data a:hover {
	text-decoration: underline;
}

.block-text-topics__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.56;
	/* 25/16 */
	color: #212529;
	transition: all 0.3s ease;
}

.block-text-topics__title:hover {
	color: #DDBEA9;
}

.block-text-topics__text {
	font-weight: 300;
	line-height: 1.66;
	/* 20/12 */
	color: #6C757D;
}

.block-text-topics__footer {
	font-weight: 300;
	line-height: 1.66;
	/* 20/12 */
	color: #6C757D;
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	border-top: 1px solid #E5E5E5;
}

.block-text-topics__author {
	transition: all 0.3s ease;
}

.block-text-topics__author:hover {
	text-decoration: underline;
}

.block-text-topics__like {
	position: relative;
}

.block-text-topics__like::before {
	content: "";
	position: absolute;
	background: url("../img/topics/like.svg") 50% 50%/ contain no-repeat;
	width: 12px;
	height: 12px;
	margin-left: -20px;
	top: 3px;
}

.pages-topics {
	margin: 0 auto;
}

.pages-topics__list {
	display: flex;
	column-gap: 15px;
	color: rgba(73, 80, 87, 0.5);
}

.pages-topics__link:hover {
	color: #495057;
}

.pages-topics__link {
	position: relative;
}

.pages-topics__link::before {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #DDBEA9;
	left: 50%;
	bottom: 0;
	width: 0;
	transition: all 0.3s ease;
}

.pages-topics__link:hover::before {
	width: 100%;
	left: 0;
}

.pages-topics__link_active {
	color: #495057;
}

.pages-topics__link_active::before {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #DDBEA9;
	left: 0;
	bottom: 0;
	width: 100%;
	transition: all 0.3s ease;
}


@media (max-width: 1100px) {
	.topics__content {
		padding: 50px 56px 100px;
	}
}

@media (max-width: 991.98px) {
	.topics__content {
		padding: 50px 0px 100px;
	}
}

@media (max-width: 900px) {
	.main-topics {
		flex-wrap: wrap;
		row-gap: 20px;
	}
}

@media (max-width: 767.98px) {
	.topics__content {
		padding: 0px 0px 50px;
	}
}

@media (max-width: 500px) {
	.topics-right__item {
		flex-wrap: wrap;
		row-gap: 20px;
	}

	.topics-right__image {
		flex-grow: 1;
	}

	.block-text-topics {
		flex-grow: 1;
	}
}

/*===============================================      Footer        =================================================*/

.footer {
	background: #212529;
	padding: 100px 0px;
}

.footer__content {
	display: flex;
	flex-direction: column;
	line-height: 1.66;
	/* 20/12 */
	color: rgba(248, 249, 250, 0.5);
}

.footer__header {
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
	row-gap: 10px;
}

.menu-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 25px;
}

.menu-footer__logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.38;
	/* 25/18 */
	color: #F8F9FA;
}

.menu-footer__logo::after {
	content: ".";
	color: #DDBEA9;
}

.menu-footer__list {
	display: flex;
	column-gap: 25px;
	color: rgba(248, 249, 250, 0.5);
}

.menu-footer__link {
	transition: all 0.3s ease;
}

.menu-footer__link:hover {
	color: #DDBEA9;
}

.menu-footer__social {
	display: flex;
	column-gap: 25px;
}

.footer__footer {
	padding-top: 40px;
	font-size: 12px;
	color: rgba(248, 249, 250, 0.5);
	display: flex;
	justify-content: space-between;
}

@media (max-width: 767.98px) {
	.footer {
		padding: 50px 0px;
	}

	.menu-footer {
		row-gap: 15px;
	}
}

@media (max-width: 500px) {
	.footer__footer {
		flex-wrap: wrap;
		flex-direction: column;
		row-gap: 15px;
		padding-top: 20px;
	}

	.footer__header {
		padding-bottom: 20px;
	}
}