.button {
	min-width: 142px;
	height: 49px;
	padding: 14px 0px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	/* 21/14 */
	text-align: center;
}

.title {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.7;
	/* or 61px */
}