@import url("reset.css");



* {
	font-family: "Poppins";
}



/**                         Container                     **/


[class*="__container"] {
	max-width: 1470px;
	margin: 0 auto;
}

[class*="__container-mini"] {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0px 135px;
}


/**                         Header                    **/

.header {
	background: url("../img/main/01.png") 50% 50%/ cover no-repeat;

}

.header__body {
	padding: 330px 0px 100px 100px;
}

.block-text {
	max-width: 600px;
}

.block-text-data {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.66;
	/* 20/12 */
	color: #E5E5E5;
}

.block-text-title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	/* 40/25 */
	color: #F8F9FA;
	margin-top: 15px;
}

.block-text-p {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.66;
	/* 20/12 */
	color: #E5E5E5;
	margin-top: 15px;
}


/**                         MAIN                    **/

.lists__container {
	padding: 0px 100px;
}

.lists-block {
	font-family: 'Inter';
	display: flex;
	flex-wrap: wrap;
	row-gap: 70px;
	column-gap: 130px;
	margin-top: 45px;
}

.bem-block {
	max-width: 100%;
}

.lists-block-title {
	font-weight: 400;
	font-size: 26px;
	line-height: 1.07;
	/* 28/26 */
	color: #212B36;
	margin-top: 100px;
}

.list {
	font-family: 'Inter';
	font-weight: 700;
	font-size: 16px;
	line-height: 0.93;
	/* 15/16 */
	color: #637381;
}

.item:not(:last-child) {
	margin-bottom: 18px;

}


.block-01 li {
	background: url("../img/list/01.svg") 0 3px / 8px no-repeat;
	padding-left: 20px;
}

.block-02 li {
	background: url("../img/list/02.svg") 0 0 / 20px no-repeat;
	padding-left: 30px;
	min-height: 30px;
	padding-top: 3px;
}

.block-03 li {
	background: url("../img/list/03.svg") 0 0 / 20px no-repeat;
	padding-left: 30px;
	min-height: 30px;
	padding-top: 3px;
}

.block-04 li {
	background: url("../img/list/04.svg") 0 0 / 20px no-repeat;
	padding-left: 30px;
	min-height: 30px;
	padding-top: 3px;
}

.block-05 li {
	background: url("../img/list/05.svg") 0 3px / 20px no-repeat;
	padding-left: 30px;
	min-height: 30px;
}

.block-06 li {
	background: url("../img/list/06.svg") 0 0 / 20px no-repeat;
	padding-left: 30px;
	min-height: 30px;
	padding-top: 3px;
}

/**                         FOOTER                    **/

.footer {
	margin-top: 100px;
	font-family: "Inter";
	background-color: #F4F7FF;
}

.footer__container-mini {
	background: url("../img/footer/speaker.png") 80% 50%/ auto auto no-repeat,
		url("../img/footer/02.png") 110% 100%/ contain no-repeat,
		url("../img/footer/01.png") 110% 100%/ contain no-repeat;
}

.footer__body {
	padding: 145px 0px 150px 100px;
}

.block-text-footer {
	max-width: 590px;
}

.block-text-price {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	/* 24/18 */
	color: #3056D3;
}

.footer-block-text-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.25;
	/* 45/36 */
	color: #212B36;
	margin-top: 13px;
}

.footer-block-text-p {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	/* 24/16 */
	color: #637381;
	margin-top: 15px;
}

.block-text-link {
	margin-top: 35px;
	color: #FFFFFF;
	display: inline-block;
	background: #3056D3;
	border-radius: 30px;
	padding: 10px 30px;
	transition: all 0.3s ease-in;
}

.block-text-link:hover {
	background: #5e80f1;
	transition: all 0.3s ease-in;
}