@import url("reset.css");

/*****                       Font style                     *****/

@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

* {
	font-family: "Poppins";
}

/*****                       Container                    *****/

[class*="__container"] {
	max-width: 1440px;
	margin: 0 auto;
}

/*****                      Article                     *****/

/*                       BEM                     */

.bem-text-block {
	margin: 0 auto;
	padding: 0px 12px;
	max-width: 816px;
}

.bem-title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
}

.bem-p {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.8;
	color: #6C757D;
	margin-top: 40px;
}

.bem-little-img {
	max-width: 605px;
	max-height: 400px;
}

.bem-little-img img {
	width: 100%;
	height: 100%;
}

/* ============== block-text-01 ================ */

.block-text-01 {
	margin-top: 115px;
}

.text-01-title {
	max-width: 400px;

}

.text-01-p-block {
	margin-top: 40px;
}

/* ============== block__img-big ================ */

.block__img-big {
	margin-top: 80px;
	padding: 0px 100px;
}

.block__img-big img {
	width: 100%;
	height: 100%;
}

/* ============== block-text-02 ================ */

.block-text-02 {
	margin-top: 80px;
}

.text-02-title {
	max-width: 605px;
}

/* ============== block__imgs-little ================ */

.block__imgs-little {
	display: flex;
	padding: 0px 100px;
	column-gap: 30px;
	margin-top: 80px;
}

@media (max-width: 850px) {
	.block__imgs-little {
		flex-direction: column;
		row-gap: 30px;
	}
}

/* ============== block-text-03 ================ */

.block-text-03 {
	margin-top: 80px;
}