@import url("reset.css");
@import url("common.css");
/*=============================================================================================================*/
@import url("https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap");
/*=============================================================================================================*/

[class*="__container"] {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0px 135px;
}

@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 1440px;
		margin: 0 auto;
		padding: 0px 35px;
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: 1440px;
		margin: 0 auto;
		padding: 0px 15px;
	}
}

/*===============================================       Header       =================================================*/

.header__content {
	display: flex;
	flex-direction: column;
}

.info-area {
	padding: 17px 0px;
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.42;
	/* 20/14 */
}

.info-area__left-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 25px;
}

.info-area__link {
	transition: all 0.3s ease;
}

.info-area__link:hover {
	color: #212B36;
}

.list-right {
	display: flex;
	column-gap: 20px;
}

.list-right__item {
	position: relative;
	cursor: pointer;
	padding-right: 15px;
}

.list-right__item::after {
	content: "";
	position: absolute;
	background: url('../img/header/arrow.svg') 0 0/ 100% no-repeat;
	width: 11px;
	height: 6px;
	object-fit: contain;
	right: -0px;
	top: 7px;
	display: block;
	transition: all 0.3s ease;
}

.list-right__item:hover .list-right__sub-body {
	visibility: visible;
	opacity: 1;
	top: 20px;
	pointer-events: all;
}

.list-right__item:hover::after {
	transform: rotate(180deg);
}

.list-right__sub-body {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 40px;
	padding-top: 20px;
	transition: all 0.3s ease;
	pointer-events: none;
	z-index: 10;
	cursor: pointer;
	z-index: 5;
}

.menu-sub {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 20px;
	max-width: 180px;
	transform: translate(-20px);
	background-color: rgb(166, 231, 235);
	border-radius: 10px;
}

.info-area__item,
.menu-sub__item {
	transition: all 0.3s ease;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.42;
	/* 20/14 */
}

.info-area__item:hover,
.menu-sub__item:hover {
	text-decoration: underline;
}

.area-middle {
	position: relative;
}

.area-middle::after,
.area-middle::before {
	content: "";
	position: absolute;
	height: 1px;
	background: #E7E7E7;
	width: 10000%;
	left: -1000%;
}

.area-middle::after {
	top: 0;
}

.area-middle::before {
	bottom: -1px;
}

.area-middle__body {
	display: flex;
	padding: 22px 0px;
	column-gap: 20px;
	align-items: center;
	justify-content: space-between;
}

.area-middle__logo {
	margin-right: 35px;
	width: 168px;
	height: 42px;
}

.area-middle__logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 0;
}

.all-categories {
	display: flex;
	flex: 0 1 544px;
	height: 52px;
	background: #F4F7FF;
	border: 1px solid #E7E7E7;
	border-radius: 6px;
	align-items: center;
	position: relative;
	margin-right: 23.64px;
}

.all-categories__list {
	padding: 14px 18px 14px 22px;
	width: 172.15px;
}

.all-categories__item {
	font-weight: 500;
	color: #212B36;
	position: relative;
	padding-right: 25px;
}

.all-categories__item::after {
	content: "";
	position: absolute;
	background: url('../img/header/arrow-dark.svg') 0 0/ 100% no-repeat;
	width: 11px;
	height: 6px;
	object-fit: contain;
	right: 0;
	top: 50%;
	display: block;
	transition: all 0.3s ease;
}

.all-categories__item:hover::after {
	transform: rotate(180deg);

}

.all-categories__item:hover .all-categories__body-sub {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	top: 20px;
}

.all-categories__body-sub {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	padding-top: 20px;
	top: 40px;
	transition: all 0.3s ease;
	pointer-events: none;
	z-index: 5;
}

.sb-all-categories {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 20px;
	background-color: rgb(166, 231, 235);
	width: 200px;
	transform: translate(-20px);
	border-radius: 10px;
}

.sb-all-categories__item {
	transition: all 0.3s ease;
}

.sb-all-categories__item:hover {
	text-decoration: underline;
}

.all-categories__form {
	display: flex;
}

.all-categories__input {
	padding: 14px 80px 14px 22px;
	border: 1px solid #D9D9D9;
	background: #F4F7FF;
	height: 52px;
	max-width: 320px;
	outline: none;
}

.all-categories__button input::placeholder {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	/* 24/24 */
	color: #637381;
}

.all-categories__button {
	position: absolute;
	top: -1px;
	right: 0px;
	font-weight: 500;
	background: #3056D3;
	border-radius: 0px 6px 6px 0px;
	width: 52px;
	height: 52px;
	transition: all 0.3s ease;
}

.all-categories__button:hover {
	background: #6283ef;
}

.all-categories__button img {
	width: 18px;
	height: 21px;
	object-fit: contain;
}

.area-middle__user-info-body {
	display: flex;
	column-gap: 20px;
}

.contact-middle {
	display: flex;
	column-gap: 12px;
	flex: 0 0 176px;
	align-items: center;
}

.contact-middle__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.42;
	/* 20/14 */
	color: #212B36;
}

.contact-middle__text a:hover {
	text-decoration: underline;
}

.area-user {
	display: flex;
	column-gap: 15px;
	align-items: center;
}

.area-user__like img {
	transform: translateY(2px);
}

.area-user__like,
.area-user__basket {
	position: relative;
}

.area-user__like span,
.area-user__basket span {
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: #3056D3;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 18px;
	height: 18px;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.18;
	/* 13/11 */
	color: #FFFFFF;
}

.area-user__profile,
.area-user__like,
.area-user__basket,
.contact-middle__image {
	width: 42px;
	height: 42px;
	background: #F4F7FF;
	border: 0.5px solid #E7E7E7;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.area-user__profile img,
.area-user__like img,
.area-user__basket img,
.contact-middle__image img {
	transition: all 0.3s ease;
	width: 22px;
	height: 22px;
	object-fit: contain;
}

.area-user__profile:hover img,
.area-user__like:hover img,
.area-user__basket:hover img,
.contact-middle__image:hover img {
	transform: scale(1.1);
}

.area-bottom {
	display: flex;
	column-gap: 30px;
	justify-content: space-between;
	padding: 17px 0px;
	align-items: center;
}

.area-bottom__body-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 195px;
	height: 42px;
	padding: 9px 17px;
	background: #3056D3;
	border-radius: 5px;

}

.area-bottom__icon {
	display: block;
	position: relative;
	width: 18px;
	height: 11px;
}

.area-bottom__icon::after,
.area-bottom__icon::before {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background: #FFFFFF;
	left: 0;
}

.area-bottom__icon span {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 1px;
	background: #FFFFFF;
	top: 50%;
	left: 0;
}

.area-bottom__icon::before {
	top: 0;
}

.area-bottom__icon::after {
	bottom: -1px;
}

.area-bottom__list {
	position: relative;
}

.area-bottom__item {
	font-weight: 500;
	color: #FFFFFF;
	position: relative;
	padding-right: 26px;
	cursor: pointer;
}

.area-bottom__item::after {
	content: "";
	position: absolute;
	background: url('../img/header/arrow-white.svg') 0 0/ 100% no-repeat;
	width: 11px;
	height: 6px;
	object-fit: contain;
	right: 0;
	top: 50%;
	display: block;
	transition: all 0.3s ease;
}

.area-bottom__item:hover::after {
	transform: rotate(180deg);
}

.area-bottom__body-sub-menu {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 40px;
	transform: translateX(-25px);
	padding-top: 20px;
	transition: all 0.3s ease;
	color: #212B36;
	left: -18px;
	transition: all 0.3s ease;
	border-radius: 7px;
	z-index: 5;
}

.sb-all-categories-bottom {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	width: 1000px;
	padding: 20px;
	background-color: #6283ef;
	color: #FFFFFF;
	border-radius: 7px;
}

.area-bottom__item:hover .area-bottom__body-sub-menu {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	top: 20px;
}

.sb-all-categories-bottom__item {
	transition: all 0.3s ease;
}

.sb-all-categories-bottom__item:hover {
	text-decoration: underline;
}

.categories-bottom__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 32px;
}

.categories-bottom__link {
	font-weight: 600;
	transition: all 0.3s ease;
}

.categories-bottom__link:hover {
	color: #3056D3;
}

@media (max-width: 1440px) {
	.area-middle__logo {
		width: 168px;
	}

	.area-middle__logo img {
		max-width: 100%;
		object-fit: contain;
	}
}

@media (max-width: 1390px) {
	.all-categories__input {
		border-radius: 0px 6px 6px 0px;
	}

	.area-middle__logo {
		margin-right: 0;
		overflow: hidden;
		width: 43px;
	}

	.area-middle__logo img {
		max-width: 100%;
		object-fit: cover;
	}

	.all-categories {
		margin-right: 0;
	}
}

@media (max-width: 1300px) {
	.area-middle__body {
		flex-wrap: wrap;
		row-gap: 20px;
	}

	.sb-all-categories-bottom {
		width: 800px;
	}
}

@media (max-width: 1249px) {
	.area-middle__logo {
		overflow: auto;
		width: 168px;
	}
}

@media (max-width: 1075px) {
	.sb-all-categories-bottom {
		width: 700px;
		flex-wrap: wrap;
	}
}

@media (max-width: 1010px) {
	.area-middle__logo {
		width: 150px;
	}

	.area-middle__logo img {
		object-fit: contain;
	}
}

@media (max-width: 800px) {
	.area-middle__logo {
		width: 130px;
	}

	.sb-all-categories-bottom {
		width: 600px;
	}
}

@media (max-width: 767.98px) {
	.area-middle__logo {
		width: 150px;
	}

	.area-middle__body {
		justify-content: center;
		align-items: center;
	}

	.categories-bottom {
		display: none;
	}

	.all-categories__list {
		display: none;
	}

	.all-categories__input {
		border-radius: 6px;
	}

	.all-categories {
		flex: 1 1 auto;
	}

	.all-categories__input,
	.all-categories__form {
		min-width: 100%;
	}


}

@media (max-width: 640px) {
	.sb-all-categories-bottom {
		width: 500px;
	}
}

@media (max-width: 540px) {
	.sb-all-categories-bottom {
		width: 400px;
	}
}

@media (max-width: 440px) {
	.sb-all-categories-bottom {
		width: 300px;
	}

	.info-area__left-list {
		display: none;
	}

	.list-right {
		margin: 0 auto;
	}

	.area-middle__user-info-body {
		flex-wrap: wrap;
		row-gap: 20px;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 360px) {
	.sb-all-categories-bottom {
		width: 270px;
	}

	.all-categories {
		width: 100%;
	}
}


/*===============================================       Swiper       =================================================*/

.swiper-slide {
	display: flex;
	height: 700px;
}

.swiper__image {
	max-height: 700px;
	flex: 1 1 50%;
	overflow: hidden;
}

.swiper__image:hover img {
	transform: scale(1.03);
}

.swiper__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 0;
	transition: all 0.3s ease;
}

.swp-info-block {
	flex: 1 1 50%;
	background: #F4F7FF;
	padding: 184px 30px 0px 80px;
}

.swp-info-block__body {
	display: flex;
	flex-direction: column;
	column-gap: 18;
	max-width: 520px;
}

.swp-info-block__name {
	font-weight: 600;
	font-size: 28px;
	line-height: 1.25;
	/* 35/28 */
	color: #3056D3;
}

.swp-info-block__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 1.13;
	/* 50/44 */
	color: #212B36;
}

.swp-info-block__title:hover,
.swp-info-block__name:hover {
	text-decoration: underline;
}

.swp-info-block__title:not(:last-child) {
	margin-bottom: 7px;
}

.swp-info-block__text {
	font-weight: 500;
}

.swp-info-block__text:not(:last-child) {
	margin-bottom: 17px;
}

.swp-info-block__link {
	font-weight: 600;
	color: #212B36;
	padding: 12px 0px;
	border: 1px solid #212B36;
	max-width: 140px;
	text-align: center;
	transition: all 0.3s ease;
}

.swp-info-block__link:hover {
	background: #212B36;
	color: #FFFFFF;
}

.swiper-button-prev,
.swiper-button-next {
	--swiper-navigation-top-offset: 90%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 18px;
}

.swiper-button-prev::after {
	content: url('../img/swiper/arrow-blue.svg');
	object-fit: contain;
	transform: translateY(3px);
}

.swiper-button-next::after {
	content: url('../img/swiper/arrow-blue.svg');
	object-fit: contain;
	transform: rotate(180deg);

}

.swiper-button-disabled::after {
	content: url('../img/swiper/arrow-grey.svg');
	object-fit: contain;
	transform: rotate(180deg);
}

.swiper-button-next.swiper-button-disabled::after {
	content: url('../img/swiper/arrow-grey.svg');
	object-fit: contain;
	transform: rotate(0deg) translateY(3px);
}

.swiper-button-prev {
	--swiper-navigation-sides-offset: 86%;
	width: 42px;
	height: 42px;
	border: 1px solid #3056D3;
}

.swiper-button-next {
	--swiper-navigation-sides-offset: 6%;
	width: 42px;
	height: 42px;
	border: 1px solid #3056D3;
	;
}

.swiper-button-disabled {
	border: 1px solid #637381;
}

@media (max-width: 1300px) {
	.swiper-button-prev {
		--swiper-navigation-sides-offset: 80%;
	}
}

@media (max-width: 767.98px) {
	.swiper-slide {
		flex-direction: column-reverse;
		height: 100%;
	}


	.swp-info-block {
		padding: 64px 30px 30px 30px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		--swiper-navigation-top-offset: 32%;
	}

	.swiper-button-prev {
		--swiper-navigation-sides-offset: 75%;
	}
}

@media (max-width: 550px) {
	.swp-info-block__title {
		font-size: 34px;
	}

	.swp-info-block__title:not(:last-child) {
		margin-bottom: 15px;
	}

	.swp-info-block__name:not(:last-child) {
		margin-bottom: 10px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}
}

/*===============================================       Latest       =================================================*/

.page__latest {
	padding: 120px 0px 60px;
}

.block-grid {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.block-grid__item {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.block-grid__image {
	width: 100%;
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
}

.block-grid__image:hover img {
	transform: scale(1.1);
}

.block-grid__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.block-grid__text-block {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}

.block-grid__info {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
}

.block-grid__info a:nth-child(1) {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.30;
	/* 26/20 */
	color: #212B36;
}

.block-grid__price {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #3056D3;
}

.block-grid__price:hover,
.block-grid__info a:hover {
	text-decoration: underline;
}

@media (max-width: 767.98px) {
	.page__latest {
		padding: 60px 0px 60px;
	}
}

/*===============================================      Featured        =================================================*/

.featured__content {
	padding: 60px 0px;
}

.featured__products {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.featured__body:nth-child(1) {
	display: grid;
	gap: 30px;
	grid-template-columns: minmax(440px, 670px) minmax(220px, 470px);
}

.featured__body:nth-child(2) {
	display: grid;
	gap: 30px;
	grid-template-columns: minmax(220px, 470px)minmax(440px, 670px);
}

.product-featured {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	min-height: 513px;
	border: 1px solid #E7E7E7;
	border-radius: 8px;
}

.product-featured__image {
	width: 100%;
	height: 349px;
	position: relative;
	overflow: hidden;
	border-radius: 8px 8px 0px 0px;
}


.product-featured__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px 8px 0px 0px;
	transition: all 0.3s ease;
}

.product-featured__image img {
	filter: grayscale(1);
}

.product-featured__image:hover img {
	filter: grayscale(0);
	transform: scale(1.04);
}

.product-featured__active-img {
	position: absolute;
	display: flex;
	column-gap: 12px;
	bottom: 13%;
	left: 5%;
}

.product-featured__image:hover .img-active__basket {
	transform: translateX(0px);
	visibility: visible;
	opacity: 1;
}

.product-featured__image:hover .img-active__view {
	transform: translateY(0px);
	visibility: visible;
	opacity: 1;
}

.product-featured__image:hover .img-active__like {
	transform: translateX(0px);
	visibility: visible;
	opacity: 1;
}

.img-active__basket,
.img-active__view,
.img-active__like {
	width: 36px;
	height: 36px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	transition: all 0.3s ease;
	visibility: hidden;
	opacity: 0;
}

.img-active__basket:hover,
.img-active__view:hover,
.img-active__like:hover {
	border-radius: 20px;
	background-color: #3056D3;
}

.img-active__basket img,
.img-active__view img,
.img-active__like img {
	width: 100%;
	height: 100%;
	object-fit: none;
	transition: all 0.3s ease;
}


.img-active__basket {
	transform: translateX(-30px);
}

.img-active__view {
	transform: translateY(-20px);
}

.img-active__like {
	transform: translateX(30px);
}

.product-featured__bottom-body {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 0 30px 30px;
}

.product-featured__header-block {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-between;
}

.product-featured__text {
	font-weight: 600;
}

.product-featured__text:hover {
	text-decoration: underline;
}

.product-featured__discount {
	font-weight: 600;
	color: #3056D3;
}

.product-featured__discount:hover {
	text-decoration: underline;
}

.product-featured__name {
	font-weight: 600;
	font-size: 28px;
	line-height: 1.25;
	/* 35/28 */
	color: #212B36;
}

.product-featured__name a:hover {
	text-decoration: underline;
}

.product-featured__price {
	display: flex;
	column-gap: 10px;
}

.product-featured__price span {
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	/* 24/18 */
	color: #B1B4B7;
	text-decoration: line-through;
}

.product-featured__price a {
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	/* 24/18 */
	color: #212B36;
}

.product-featured__price a:hover {
	text-decoration: underline;
}

@media (max-width: 767.98px) {

	.featured__body:nth-child(1),
	.featured__body:nth-child(2) {
		grid-template-columns: 1fr;
	}

	.featured__content {
		padding: 0px 0px 60px;
	}
}

/*===============================================      Trending        =================================================*/


.shop__content {
	padding: 60px 0px;
}

.shop-text-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	flex-direction: row;
	margin: 0 0 70px;
	width: 100%;
}

.shop-text-body {
	max-width: 500px;
	text-align: left;
}

.link {
	padding: 8px 0px;
	text-align: center;
	width: 142px;
	height: 40px;
	border: 1px solid #3056D3;
	border-radius: 4px;
	transition: all 0.3s ease;
	align-self: flex-end;
}

.link:hover {
	background: #3056D3;
	color: #FFFFFF;
}


.shop__list {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.shop__item {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	border: 1px solid #E7E7E7;
	border-radius: 12px;
	padding: 12px 12px 25px;
}

.shop__img {
	width: 100%;
	height: 230px;
	overflow: hidden;
	border-radius: 8px;
}

.shop__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
	transition: all 0.3s ease;
}

.shop__img:hover img {
	transform: scale(1.03);
}

.shop__bottom-block {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.shop__bottom-block a:nth-child(1) {
	font-weight: 600;
	transition: all 0.3s ease;
}

.shop__bottom-block a:nth-child(1):hover {
	text-decoration: underline;
}

.shop__bottom-block a:nth-child(2) {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.25;
	/* 30/24 */
	color: #212B36;
	transition: all 0.3s ease;
}

.shop__bottom-block a:nth-child(2):hover {
	text-decoration: underline;

}

@media (max-width: 767.98px) {
	.shop__content {
		padding: 0px 0px 60px;
	}
}

/*===============================================      top        =================================================*/


.top__content {
	padding: 60px 0px;
}

.top__products {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.top__product {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.top__img-product {
	width: 100%;
	height: 250px;
	overflow: hidden;
	border-radius: 5px;
}

.top__img-product img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.top__img-product:hover img {
	transform: scale(1.03);
}

.product-bottom {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	text-align: center;
}

.product-bottom__name {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.30;
	/* 26/20 */
	color: #212B36;
}

.product-bottom__price:not(:last-child) {
	margin-bottom: 15px;
}

.product-bottom__price span {
	font-weight: 600;
	text-decoration: line-through;
}

.product-bottom__price a {
	font-weight: 600;
	color: #212B36;
}

.product-bottom__name:hover,
.product-bottom__price span:hover,
.product-bottom__price a:hover {
	text-decoration: underline;
}

.product-bottom__link {
	width: 109px;
	height: 36px;
	border: 1px solid #212B36;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.42;
	/* 20/14 */
	color: #212B36;
	padding: 8px 0px;
	transition: all 0.3s ease;
	align-self: center;
}

.product-bottom__link:hover {
	color: #FFFFFF;
	background: #212B36;
}

@media (max-width: 767.98px) {
	.top__content {
		padding: 0px 0px 60px;
	}
}

/*===============================================      Footer        =================================================*/


.footer__content {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
}


.top-footer__list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
	background: #F4F7FF;
	border: 1px solid #E7E7E7;
	border-radius: 8px;
	padding: 80px 60px 86px;
}


.block-logo {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	max-width: 315px;
}

.block-logo__logo {
	width: 160px;
	height: 40px;
}

.block-logo__logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.block-logo__text {
	font-weight: 500;
}

.block-logo__text:not(:last-child) {
	margin-bottom: 10px;
}


.socials {
	display: flex;
	column-gap: 12px;
}

.socials__fb,
.socials__tw,
.socials__yt,
.socials__li {
	height: 32px;
	width: 32px;
	background: #FFFFFF;
	border: 0.5px solid #E7E7E7;
	border-radius: 50%;
	position: relative;
	transition: all 0.3s ease;
}

.socials__fb img,
.socials__tw img,
.socials__yt img,
.socials__li img {
	width: 100%;
	height: 100%;
	object-fit: none;
}

.socials__tw a,
.socials__fb a,
.socials__yt a,
.socials__li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: contain;
	transition: all 0.3s ease;
}

.socials__fb a {
	background: url("../img/footer/fb-gray.svg") 50% 50% no-repeat;
}

.socials__fb:hover a {
	background: url("../img/footer/fb.svg") 50% 50% no-repeat;
}

.socials__tw a {
	background: url("../img/footer/tw.svg") 50% 50% no-repeat;
}

.socials__tw:hover a {
	background: url("../img/footer/wt-white.svg") 50% 50% no-repeat;
}

.socials__yt a {
	background: url("../img/footer/yt.svg") 50% 50% no-repeat;
}

.socials__yt:hover a {
	background: url("../img/footer/yt-white.svg") 50% 50% no-repeat;
}

.socials__li a {
	background: url("../img/footer/li.svg") 50% 50% no-repeat;
}

.socials__li:hover a {
	background: url("../img/footer/li-white.svg") 50% 50% no-repeat;
}

.socials__fb:hover,
.socials__tw:hover,
.socials__yt:hover,
.socials__li:hover {
	background: #3056D3;
}


.block-useful {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.block-useful__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	/* 26/20 */
	color: #212B36;
}

.block-useful__list {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	font-weight: 500;
}

.block-useful__link,
.block-categories__link {
	transition: all 0.3s ease;
}

.block-useful__link:hover,
.block-categories__link:hover {
	color: #3056D3;
}


.block-categories {
	display: flex;
	align-items: flex-end;
}

.block-categories__list {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.block-subscribe {
	display: flex;
	flex-direction: column;
	row-gap: 23px;
	max-width: 290px;
}

.block-subscribe__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	/* 26/20 */
	color: #212B36;
}

.block-subscribe__text {
	font-weight: 500;
}

.block-subscribe__text:not(:last-child) {
	margin-bottom: 7px;
}

.form-subscribe {
	max-width: 290px;
	height: 54px;
	display: flex;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 7px;
	position: relative;
}

.form-subscribe__input {
	outline: none;
	font-weight: 500;
	border-radius: 7px;
	padding: 15px 20px;
	max-width: 227px;

}

.form-subscribe__input input::placeholder {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	/* 24/16 */
	color: #637381;
}

.form-subscribe__button {
	position: absolute;
	right: -3px;
	top: -0.9px;
	display: flex;
	align-items: center;
	width: 64px;
	height: 54px;
	border: 1px solid #E7E7E7;
	border-radius: 0px 7px 7px 0px;
}

.form-subscribe__button img {
	width: 100%;
	height: 100%;
	object-fit: none;
}


.bottom-footer {
	display: flex;
	padding: 30px 60px;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 30px;
	row-gap: 20px;
}

.bottom-footer__list {
	display: flex;
	column-gap: 25px;
	flex-wrap: wrap;
	row-gap: 20px;
}

.bottom-footer__link {
	transition: all 0.3s ease;
}

.bottom-footer__link:hover {
	color: #3056D3;
}

.bottom-footer__images {
	display: flex;
	column-gap: 15.79px;
	flex-wrap: wrap;
	row-gap: 20px;
}

@media (max-width: 767.98px) {
	.footer__content {
		margin-top: 0px;
	}

	.top-footer__list {
		padding: 30px 20px 36px;
	}
}

@media (max-width: 380px) {
	.form-subscribe__input {
		/* padding: 15px 50px; */
		padding-right: 60px;
	}
}